{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
