coverage/**
node_modules/**
dist/**
src/index.html
*.cssmodule.scss.d.ts
*.cssmodule.d.ts
*.cssmodule
*.scss
*.css
*.yml
*.d.ts
typings.d.ts
tsconfig.json
.prettierignore
.eslintignore
.stylelintignore
.eslintrc.js
.gitignore
*.md
*.html
.env
*.json
*.lock
*.ejs
