{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-no-unsupported-browser-features",
        "stylelint-order"
    ],
    "ignoreFiles": ["**/*.js","**/*.jsx","**/*.ts","**/*.tsx","**/*.html"],
    "rules": {
        "declaration-block-no-redundant-longhand-properties": [
          true,
          {
            "ignoreShorthands": ["flex-flow"]
          }
        ],
        "function-comma-space-after": "always",
        "declaration-block-no-duplicate-properties": null,
        "comment-empty-line-before": [
          "always"
        ],
        "at-rule-no-unknown": [true, {
          "ignoreAtRules": ["function", "if", "each", "include", "mixin"]
        }],
        "at-rule-empty-line-before": [
          "always",
          {
            "except": [
              "after-same-name"
            ]
          }
        ],
        "number-leading-zero": "never",
        "indentation": [
            2, {
                "indentInsideParens": "once-at-root-twice-in-block",
                "severity": "error"
            }
        ],
        "plugin/no-unsupported-browser-features": [
            true,
            {
                "severity": "warning",
                "ignore": [
                    "css-boxshadow",
                    "pointer-events",
                    "border-radius",
                    "border-image",
                    "css-gradients",
                    "css-textshadow",
                    "transforms2d",
                    "css-animation",
                    "css-transitions",
                    "css-transform",
                    "transition",
                    "transform",
                    "css-image-set",
                    "flexbox",
                    "viewport-units",
                    "calc",
                    "intrinsic-width"
                ]
            }
        ],
        "selector-pseudo-class-no-unknown": [
            true,
            {
                "ignorePseudoClasses": ["global", "local"]
            }
        ],
        "selector-pseudo-class-case": null,
        "property-no-unknown": [
            true,
            {
                "ignoreProperties": ["composes", "r"]
            }
        ],
        "unit-no-unknown": [
            true,
            {
                "ignoreUnits": ["x"]
            }
        ],
        "order/order": [
                [
                    "custom-properties",
                    "at-variables",
                    "declarations",
                    "at-rules",
                    "rules",
                    "less-mixins"
                ],
                {
                    "severity": "warning"
                }
        ]
    }
}
